.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: var(--navyBlue);
}

.loader {
    width: 50%;
    height: 50%;
}