.aboutContainer {
    height: 100vh;
    width: 100vw;
    padding: 0 100px;
}

.about {
    height: 100%;
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 5vw;
}


.descriptionContainer {
    width: 550px;
    color: var(--darkGrey);
    font-family: var(--cablibreFont);
    font-size: 17px;
    font-weight: 400;
}


.skillsList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 400px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
}

.skillsList li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--monoFont);
    font-size: 14px;
    cursor: default;
}


.skillsList li:before{
    content: '▹';
    position: absolute;
    left: 0;
    color: var(--accentColor);
    font-size: 18px;
    line-height: 12px;
    top: 3px;
}


.img {
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    border-radius: 5px;
}

.photoWrapper{
    height: 400px;
    position: relative;
    border-radius: 5px;
    margin-left: 50px;
    background-color: rgba(100,255,218, 1);
}

.highlight{
    color: #64FFDA;
    display: inline-block;
}

.photoWrapper:before{
    content: "";
    position: absolute;
    border: 2px solid var(--accentColor);
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.photoWrapper:hover:before{
    top: 10px;
    left: 10px;
}