:root {
  --mono-font: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --cablibreFont: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --accentColor: #64FFDA;
  --lightGrey: #ccd6f6;
  --darkGrey: #8892b0;
  --navyBlue: #0b1930;
}


.App {
  background: rgb(11,25,47);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}


